<ion-view view-title="Kalaam" class="kalaam">
	<ion-nav-buttons side="primary">
		<button class="button icon ion-ios-information-outline" ng-click="doSomething()"></button>
		<button class="button icon ion-ios-pricetag-outline" ng-click="doSomething()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="card" ng-repeat="stanza in kalaam.stanzas">
			<div class="item urdu" ng-class="{'matla': stanza.isMatla}">
				<div ng-repeat="line in stanza.lines">{{line}}</div>
			</div>
		</div>
	</ion-content>
</ion-view>
