<ion-view view-title="Kalaam" class="kalaam">
	<ion-nav-buttons side="primary">
		<button class="button icon ion-ios-information-outline" ng-click="doSomething()"></button>
		<button class="button icon ion-ios-pricetag-outline" ng-click="doSomething()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="card">
			<div class="item urdu matla">
				یاد آتی ہے اہلِ ولا کو<br>
				کیسے بُھولیں بُرھان الھدی کو<br>
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
	</ion-content>
</ion-view>
