<ion-modal-view class="kalaam">
	<ion-header-bar class="bar bar-header bar-balanced">
		<h1 class="title">Kalaam</h1>
		<!-- <button class="button icon ion-ios-settings-strong" ng-click="openPopover($event)"></button> -->
		<button class="button icon ion-android-close" ng-click="closeKalaam()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="card">
			<div class="item urdu matla">
				یاد آتی ہے اہلِ ولا کو<br>
				کیسے بُھولیں بُرھان الھدی کو<br>
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
		<div class="card">
			<div class="item urdu">
				کس طرح اپنے دل کو منائیں<br>
				غم جدائی کا کیسے اُٹھائیں<br>
				صبر آتا نہیں ہم کو مولی<br>
				ہو کے مجبور اشک بہائیں<br>
				رحم نہ آیا چرخِ قضا کو
			</div>
		</div>
	</ion-content>
</ion-modal-view>