<ion-view view-title="Search" class="search">
	<ion-content>
		<div class="search-form">
			<div class="card">
				<div class="item item-text-wrap">
					<div class="search-item textfield">
						<input type="text" ng-model="search.text" placeholder="Browse by keyword">
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.category">
							<option value="">Browse by category</option>
						</select>
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.lyricist">
							<option value="">Browse by lyricist</option>
						</select>
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.subject">
							<option value="">Browse by subject</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col buttons">
					<button class="button icon-left ion-search button-balanced">Start</button>
					<button class="button icon-left ion-refresh button-reset">Reset</button>
				</div>
			</div>
		</div>

		<div class="search-results">
			<div class="card">
				<div class="item">
					<ion-list>
						<ion-item>Aye Allah na Dai</ion-item>
						<ion-item>Hussain Tau Hussain Hai</ion-item>
						<ion-item>Shabbir Dhoondte Rahe</ion-item>
						<ion-item>Darbar-e-Hatim ma Lakho Salaam</ion-item>
						<ion-item>Aye Allah na Dai</ion-item>
						<ion-item>Hussain Tau Hussain Hai</ion-item>
						<ion-item>Shabbir Dhoondte Rahe</ion-item>
						<ion-item>Darbar-e-Hatim ma Lakho Salaam</ion-item>
						<ion-item>Aye Allah na Dai</ion-item>
						<ion-item>Hussain Tau Hussain Hai</ion-item>
						<ion-item>Shabbir Dhoondte Rahe</ion-item>
						<ion-item>Darbar-e-Hatim ma Lakho Salaam</ion-item>
						<ion-item>Aye Allah na Dai</ion-item>
						<ion-item>Hussain Tau Hussain Hai</ion-item>
						<ion-item>Shabbir Dhoondte Rahe</ion-item>
						<ion-item>Darbar-e-Hatim ma Lakho Salaam</ion-item>
					</ion-list>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
