<ion-view view-title="Search" class="search">
	<ion-content>
		<div class="search-form">
			<div class="card">
				<div class="item item-text-wrap">
					<div class="search-item textfield">
						<input type="text" ng-model="search.text" placeholder="Browse by keyword">
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.category">
							<option value="">Browse by category</option>
						</select>
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.lyricist">
							<option value="">Browse by lyricist</option>
						</select>
					</div>
					<div class="search-item dropdown">
						<select ng-model="search.subject">
							<option value="">Browse by subject</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col buttons">
					<button class="button icon-left ion-search button-balanced" ng-click="search()">Search</button>
					<button class="button icon-left ion-refresh button-reset">Reset</button>
				</div>
			</div>
		</div>

		<div class="search-results" id="search-results">
			<div class="list urdu">
				<a ng-click="openKalaam()" class="item">اے اللہ نا داعی نبی نا پیارا</a>
				<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
				<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
				<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
				<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
				<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
				<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
				<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
				<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
				<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
				<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
				<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
				<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
				<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
				<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
				<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
				<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
				<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
				<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
				<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
			</div>
		</div>

	</ion-content>
</ion-view>
