<ion-view view-title="Favorites">
	<ion-content>
		<div class="list urdu">
			<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
			<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
			<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
			<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
			<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
			<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
			<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
			<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
			<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
			<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
			<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
			<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
			<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
			<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
			<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
			<a href="#/tab/kalaam/001" class="item">اے اللہ نا داعی نبی نا پیارا</a>
			<a href="#/tab/kalaam/001" class="item">یاد آتی ہے اہلِ ولا کو</a>
			<a href="#/tab/kalaam/001" class="item">حسین تو حسین ہے</a>
			<a href="#/tab/kalaam/001" class="item">شبیر ڈھوندتے رہے پیارے گئے کہاں</a>
			<a href="#/tab/kalaam/001" class="item">دربارِ حاتم ما لاکھوں سلام</a>
		</div>
	</ion-content>
</ion-view>
